section {
  @include flexContainer;

  .section-content {
    @include columnFlex;
    background-color: white;
    width: 75%;
  }

  h5 {
    padding: 70px 0;
    position: relative;


  &::before, &::after {
      content: "";
      position: absolute;
      width: 37%;
      height: 1px;
      background: $borderColor;
      top: 50%;
      transform: translateY(-50%)
    }

    &::before {
      left: 5%;
    }

    &::after {
      right: 5%;
    }

  }

  .main-story-container {
    @include columnFlex;
    gap: 50px;

    h1 {
      text-align: center;
      font-family: "Inter EB";
      letter-spacing: 4px;
      font-size: 3rem;
      width: 50%;
      text-transform: uppercase;
    }

    p {
      text-align: center;
      font-style: italic;
      width: 50%;
      line-height: 30px;
    }

    .img-main {
      @include imgContainer;
      @include flexContainer;
      img {
        width: 80%;
      }
    }

    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      background: $borderColor;
      // margin: 25px 0;
    }
  }

  .stories-container {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;

    .img-stories {
      @include imgContainer;
    }

    & > div {
      @include columnFlex;
      gap: 55px;
      border-right: 1px $borderColor solid;
      min-height: 750px;

      h2 {
        @include title;
        width: 50%;
      }

      p {
        line-height: 25px;
        font-size: 0.8rem;
        width: 70%;
      }

      button {
        position: absolute;
        bottom: 30px;
      }
    }
  }
}
