footer {
  @include flexContainer;

  .footer-content {
    display: grid;
    grid-template-columns: 50% 50%;
    background: $bgColor;
    width: 75%;
    margin: 30px 0;
  }

  .form {
    @include columnFlex;
    align-items: start;
    padding: 40px;
    gap: 15px;

    label {
      @include title;
      font-size: 0.8rem;
      color: $footerTxt;
    }

    input {
      width: 100%;
      padding: 8px;
    }

    textarea {
      resize: none;
      width: 100%;
      height: 50%;
      padding: 8px;
    }

    input,
    textarea {
      background: none;
      border: 1px $borderColor solid;
      border-radius: 5px;
    }

    .btn {
      color: $footerTxt;
      border: $footerTxt 1px solid;
      &:hover {
        background: $hoverFooterBtn;
        color: black;
      }
    }
  }

  .contact-container {
    display: flex;
    flex-direction: column;

    h4 {
      @include title;
      color: $footerTxt;
      font-size: 0.8rem;
    }

    & > div {
      position: relative;
      @include flexContainer;
      border-left: 1px solid $borderColor;
      border-bottom: 1px solid $borderColor;
      padding: 60px;

      h4 {
        position: absolute;
        left: 8%;
      }

      p {
        font-size: 0.75rem;
        color: $footerTxt;
        margin-left: 25%;
      }
    }

    .footer-logo {
      position: absolute;
      left: 40%;
      display: flex;
      gap: 15px;

      button {
        height: 35px;
        width: 35px;
        border: none;
        border-radius: 50px;
        transition: 0.2s;
        cursor: pointer;
        background: $bgColor;

        &:hover {
          background: $hoverFooterBtn;
          color: $hoverBtn;
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}
