header {
  position: relative;
  min-height: 100vh;

  .head-content {
    @include columnFlex;
    min-height: 100vh;
    color: white;
    gap: 20px;

    h1 {
      text-align: center;
      font-family: sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 4rem;
      width: 80%;
    }
  }

  p {
    font-style: italic;
    font-size: 0.8rem;
  }

  button {
    height: 50px;
    width: 50px;
    @include flexContainer;
    background: none;
    border: 2px solid white;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
      background-color: lightblue; 
    }

    &:active {
      transform: scale(0.9);
    }

    a {
      font-size: 1rem;
      color: white;
    }
  }
}
