header {
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  .head-content {
    @include columnFlex;
    min-height: 100vh;
    color: white;
    gap: 50px;
    opacity: 0;
    transform: translateY(40px);
    animation: headMove 1.5s forwards;

    @keyframes headMove {
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }

    h1 {
      text-align: center;
      font-family: sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 4rem;
      max-width: 575px;
    }
  }

  p {
    font-style: italic;
    font-size: 0.8rem;
  }

  button {
    height: 50px;
    width: 50px;
    @include flexContainer;
    background: none;
    border: 2px solid white;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
      background-color: lightblue; 
    }

    &:active {
      transform: scale(0.9);
    }

    a {
      font-size: 1rem;
      color: white;
    }
  }
}
