header {
  @include columnFlex;
  min-height: 80vh;

  .head-content {
    @include columnFlex;
    color: white;
    width: 55%;
    gap: 20px;

    h1 {
      text-align: center;
      font-family: sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 4rem;
      width: 80%;
    }
  }

  p {
    font-family: "Merriweather Light";
    font-style: italic;
    font-size: 0.8rem;
  }

}
