$bgColor: rgb(233,233,233);
$footerTxt: gray;
$borderColor: rgb(184,182,182);
$hoverBtn: lightseagreen;
$hoverFooterBtn:rgba(119, 136, 153, 0.266);
$fontInter: "Inter Eb", sans-serif;
$fontMerr: "Merriweather Light", serif;

@font-face {
  font-family: "Inter EB";
  src: url(../fonts/Inter_24pt-ExtraBold.ttf);
}

@font-face {
  font-family: "Merriweather Light";
  src: url(../fonts/Merriweather-Light.ttf);
}

@mixin flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin columnFlex{
  @include flexContainer;
  flex-direction: column;
}

@mixin imgContainer {
  box-sizing: border-box;
  width: 100%;
  object-fit: cover;
}

@mixin title {
  font-family: $fontInter;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontMerr;
  text-align: center;
  margin: 0 auto;
}

.bg-container {  
  background: url(../images/bg.jpg) fixed center/cover;
  min-height: 100vh;
}

.btn {
  @include title;
  font-size: 0.7rem;
  padding: 10px 25px;
  border: black 2px solid;
  background: none;
  transition: 0.2s;
  cursor: pointer;


  &:hover {
    background: black;
    color: white;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }

}

img {
  width: 70%;
  box-shadow: 2px 0 9px black;
  border-radius: 5px;
}