@font-face {
  font-family: "Inter EB";
  src: url(../fonts/Inter_24pt-ExtraBold.ttf);
}
@font-face {
  font-family: "Merriweather Light";
  src: url(../fonts/Merriweather-Light.ttf);
}
* {
  padding: 0;
  margin: 0;
}

.bg-container {
  background: url(../images/bg.jpg) fixed center/cover;
  min-height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 80vh;
}
header .head-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  width: 55%;
  gap: 20px;
}
header .head-content h1 {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4rem;
  width: 80%;
}
header p {
  font-family: "Merriweather Light";
  font-style: italic;
  font-size: 0.8rem;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.nav-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  color: white;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section .section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  width: 75%;
  padding: 30px 0;
}
section h5 {
  text-align: center;
  margin: 35px 0;
  font-family: "Merriweather Light";
}
section h5::after {
  content: "";
  height: 1px;
  width: 100%;
}
section .main-story-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
section .main-story-container h1 {
  text-align: center;
  font-family: "Inter EB";
  letter-spacing: 4px;
  font-size: 3rem;
  width: 50%;
  text-transform: uppercase;
}
section .main-story-container p {
  text-align: center;
  font-style: italic;
  width: 50%;
  line-height: 30px;
}
section .main-story-container .img-main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section .main-story-container .img-main img {
  width: 70%;
}/*# sourceMappingURL=index.css.map */